
body
{margin: 0;
text-align: left;
background-color: #3b0a19;

}



nav
{font-family:'Oregano', cursive;
font-size: 25px;
}

.orbit {margin: auto;}

h1
{background-color: white;

text-align: center;
font-family:'Oregano', cursive;
font-size: 45px;
padding: 1rem;
margin-top: 1rem;
}

h2
{font-family:'Oregano', cursive;
font-size:35px;
color: white;
text-align: left;
padding-top: 1rem;
}
h3{font-family:'Oregano', cursive;
font-size:25px;

}
#landingheader{text-align: center;


}



.about
{margin: 20px;
font-size: 25px;
color: white;
font-family:'Oregano', cursive;
position: relative;}


.portfolio {font-size: 25px;
color: white;
font-family:'Oregano', cursive;
margin: 20px;



}



a:link {
	color: #ffffff;

}

a:visited {
	color: #ffffff;
}

a:hover {
	color: pink;
}

a:active {
	color: #d98477;
}


.tealbg {background-color: white;
}

#form1 {
  background-color: #8d6a75;
font-family:'Oregano', cursive;
font-size: 20px;
margin-bottom: 2em;

}

.bigheadline {margin-top: 1rem;
color: #3b0a19;

}

.testimonial{ font-family:'Oregano', cursive;
font-size: 20px;

color: white;

padding: 25px;
}

/*need to add discriptions to portfolio gallery*/
div.gallery {
    margin: 25px;
    border: 1px solid #ccc;
    float: inherit;
    width: 180px;

}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

footer {
	background-color: #000000;
	padding: 1rem;
	margin-top: 2rem;


}
